# macOS
.DS_Store

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.vscode
.env.local
.env.development.local
.env.test.local
.env.test
.env.production.local
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

